body {
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "鍋子 食材 食譜" "結果 食材 食譜";
  height: 100vh;
  background: #392c26;
  overflow: hidden;
  width: 100%;
}
#鍋子 {
  grid-area: 鍋子;
  margin: 32px 16px;
}
#鍋子格區 {
  padding: 16px;
  display: flex;
  gap: 12px;
  background: radial-gradient(#ede1c4 50%, #b7946c);
  border: 3px solid #000000;
  box-shadow: inset 0 0 0 2px #816342;
}
#鍋子 label {
  display: flex;
  align-items: center;
  margin: 8px 8px 0;
  color: #dbc7a7;
  font-weight: bold;
  gap: 4px;
}
#鍋子 label input {
  all: unset;
  width: 1em;
  height: 1em;
  background: #ede1c4;
  border-radius: 3px;
  border: 1px solid #816342;
  position: relative;
}
#鍋子 label input:checked:after {
  content: "";
  background: #816342;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 50%, 42% 100%, 50% 100%, 100% 0, 80% 0, 42% 75%, 15% 41%);
}
#結果 {
  grid-area: 結果;
  display: grid;
  gap: 8px;
  padding: 8px;
  align-content: start;
  color: #dbc7a7;
  font-weight: bold;
  justify-content: center;
}
.食譜顯示 {
  background: radial-gradient(#ede1c4 50%, #b7946c);
  border: 3px solid #000000;
  box-shadow: inset 0 0 0 2px #816342;
  padding: 8px;
  gap: 2px 8px;
  display: grid;
  grid-template-columns: auto repeat(6, auto);
  align-items: center;
  color: #583018;
  box-sizing: border-box;
  width: 282px;
}
.食譜顯示 sq { grid-area: 2 / 1 / 2 span; }
.食譜顯示 span:nth-child(-n + 5) { grid-column: 2 span; }
.食譜顯示 span:first-child { grid-column: 7 span; margin-bottom: 6px; text-align: center; }
.食譜顯示 span:nth-last-child(-n + 3) { grid-column: 3 span; }
.食譜顯示 span:last-child { grid-column: 7 span; margin-top: 6px; }

#食材 {
  grid-area: 食材;
  padding: 16px;
  overflow: auto;
}
#食材::-webkit-scrollbar {
  display: none;
}
#食材 .分類 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 48px);
  align-content: start;
  gap: 8px;
  margin-bottom: 16px;
  padding: 12px 0;
  line-height: 1;
}
#食材 h3 {
  margin: 0;
  text-align: center;
  color: #fff;
  grid-column: 1 / 2 span;
}
#食材 h3:not(:first-child) {
  border-top: 1px dashed #fff5;
}
.可選食材 {
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.可選食材 .名稱 {
  padding-top: 4px;
}

#食譜 {
  grid-area: 食譜;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 8px;
  gap: 8px;
  justify-items: end;
  width: max-content;
  box-sizing: border-box;
}
#食譜列 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
  font-weight: bold;
  overflow: auto;
}
@media (max-width: 1200px) {
  #食譜列 {
    grid-template-columns: auto;
  }
}
#食譜列::-webkit-scrollbar {
  display: none;
}
sq {
  display: block;
  width: 48px;
  height: 48px;
  background: var(--img, none) no-repeat center / 43px, url(./imgs/格子.png);
}
sq[name] {
  cursor: pointer;
}
